

.wheelContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}



.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inactiveSpinBtn{
    margin-top: 10px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    background-color: var(--btn);
    filter: grayscale(100%);
    color: var(--textColor);
    font-weight: bold;
    border: none;
    border-radius: 5px; 
}

.spinBtn{
    margin-top: 10px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    background-color: var(--btn);
    color: var(--textColor);
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.getAnimeBtn{
    margin-top: 10px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    background-color: #d90429;
    color: var(--textColor);
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.inactiveAnimeBtn{
    margin-top: 10px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    background-color: #d90429;
    filter: grayscale(100%);
    color: var(--textColor);
    font-weight: bold;
    border: none;
    border-radius: 5px;
}




