.spinBtn{
    margin-top: 10px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    background-color: var(--btn);
    color: var(--textColor);
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.getAnimeBtn{
    margin-top: 10px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    background-color: #d90429;
    color: var(--textColor);
    font-weight: bold;
    border: none;
    border-radius: 5px;
}


.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wheelContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}