.links{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logout{
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}


.mobileLinks, .menuButton{
    display: none;
}

@media (max-width: 768px) {
    .links{
        display: none;
    }
}

/* 
need to add a drop button for when platform gets smaller */